@font-face {
    font-family: "Pixel";
    src: url(./assets/VT323-Regular.ttf);
}

*, *::before, *::after {
    font-family: "Pixel"
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #333;
    width: 100%;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    padding: 1rem;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.navbar-logo > img {
    display: inline-block;
    width: 100px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li:hover {
    cursor: pointer;
}



.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    align-items: flex-start;
    margin-top: 1rem;
    overflow-y: scroll;
    max-height: 580px;
}

.card-grid-detail{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    align-items: flex-start;
    margin-top: 1rem;
    max-height: 580px;
}

.card {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
}

.card-detail {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
}

.card-move {
    --padding: 1rem;
    border-radius: .25rem;
    overflow: hidden;
}

.card.card-shadow {
    margin-top: 1rem;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.card-detail.card-shadow {
    margin-top: 1rem;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.card-type {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-search {
    padding: 1rem;
    background: white;
    border-radius: .25rem;
    overflow: hidden;
    margin-top: 1rem;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}


.card-header {
    font-size: 1.5rem;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
}

.card-header.card-image {
    padding: 0;
    overflow: hidden;
}

.card-header.card-image > img{
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16 /9;
    object-fit: contain;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
    transform: scale(1.025);
}

.card-move:hover  {
    cursor: pointer;
    border: solid 2px;
}

.card:hover {
    border:orangered solid 1px;
    background-color: rgba(187, 243, 245, 0.822);
    color: orangered;
}

.card-component {
    position:absolute;
    bottom: 0%;
    left: 0%;
    color: white;
}

.card-body {
    font-size: 1.5rem;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
}

.card-body.name {
    padding-top: 50%;
}

.card-body > img {
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}

.card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
}

.chart {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.btn {
    --color: hsl(200, 50%, 50%);
    background: var(--color);
    border: none;
    color: white;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: hsl(200, 50%, 60% );
}

.btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
}

.btn.btn.btn-outline:hover, .btn.btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
}

.btn + .btn {
    margin-left: .25rem;
}